.country-of-origin {
  border: 0 none;
  margin: 0;
  padding: 0;
}

.country-of-origin__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.country-of-origin__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $base-black;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
}

.country-of-origin__item {
  display: flex;
  align-items: center;
}

@media (min-width: $desktop-width) {
  .country-of-origin {
    margin-bottom: 10px;
  }
}
